#### Nombres:
 - Arzola Pérez Armando
 - Clavel Ojeda Karla Paola
 - Santiago Valdes Yessica Fabiola

# 1. Análisis exploratorio de datos

#### Dataset information:
- Dataset Characteristics: Multivariate
- Subject Area: Business
- Associated Tasks: Classification
- Feature Type: Categorical, Integer, Real
- #Instances: 690
- #Features: 15

## Bibliotecas y lectura de datos

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt


df = pd.read_csv("crx.data", na_values='?')

In [16]:
df.shape

(690, 16)

In [17]:
df.head()

   0      1      2  3  4  5  6     7  8  9  10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [18]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15'],
      dtype='object')

In [19]:
df.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [20]:
df.nunique(axis=0) #Devuelve un número de valores únicos para cada variable

0       2
1     349
2     215
3       3
4       3
5      14
6       9
7     132
8       2
9       2
10     23
11      2
12      3
13    170
14    240
15      2
dtype: int64

### Limpiar datos

#### Algoritmo. Elimina los valores nulos, deja espacios en blanco

In [21]:
NA_val = df.isna().sum()
def na_filter(na, threshold = .02): #only select variables that passees the threshold
    col_pass = []
    for i in na.keys():
        if na[i]/df.shape[0]<threshold:
            col_pass.append(i)
    return col_pass
df_cleaned = df[na_filter(NA_val)]
df_cleaned.columns
df_cleaned.shape

(690, 16)

In [22]:
df_cleaned.isna().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

#### Matriz de correlación

#### Creación de documento csv

In [ ]:
df_cleaned.to_csv('df_cleaned.csv')

## 2. Decisión de mejor modelo para Clasificación con justificación

#### 2.2 Utilizando WEKA para experimentos

### Rules -> JRIP

Información obtenida antes de limpiar los datos

![Alt text](image-1.png)

Información obtenida después de limpiar los datos:

![Alt text](image.png)

### Rules -> Decision Table

Datos iniciales:


![Alt text](image-2.png)

Datos limpios

![Alt text](image-3.png)

### Trees -> Random forest

Datos iniciales:

![Alt text](image-4.png)

Datos limpios

![Alt text](image-5.png)

##    4. Resultados e interpretación

### 4.1 Que se desea obtener

    R: Se desea saber cuándo se aprueba o se rechaza un crédito bancario

### 4.2 ¿Qué tan preciso es el modelo?

        R: De acuerdo a los experimentos realizados en WEKA, el mejor modelo fue el de Decision Table, con un 97% de instancias clasificadas correctamente

### 4.3 Que acciones me permite llevar a cabo el modelo