#### Dataset information:
- Dataset Characteristics: Multivariate
- Subject Area: Business
- Associated Tasks: Classification
- Feature Type: Categorical, Integer, Real
- #Instances: 690
- #Features: 15

## Bibliotecas y lectura de datos

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt


df = pd.read_csv("crx.data", header = None)

In [14]:
df.shape

(690, 16)

In [15]:
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [16]:
df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], dtype='int64')

In [17]:
df.nunique(axis=0) #Devuelve un número de valores únicos para cada variable

0       3
1     350
2     215
3       4
4       4
5      15
6      10
7     132
8       2
9       2
10     23
11      2
12      3
13    171
14    240
15      2
dtype: int64

In [18]:
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

               2           7           10             14
count  690.000000  690.000000  690.000000     690.000000
mean     4.758725    2.223406    2.400000    1017.385507
std      4.978163    3.346513    4.862940    5210.102598
min      0.000000    0.000000    0.000000       0.000000
25%      1.000000    0.165000    0.000000       0.000000
50%      2.750000    1.000000    0.000000       5.000000
75%      7.207500    2.625000    3.000000     395.500000
max     28.000000   28.500000   67.000000  100000.000000

In [19]:
# Print summary statistics
df = df.describe()
print(df)
print("\n")

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [20]:
# Print DataFrame information
df = df.info()
print(df)
print("\n")

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       8 non-null      float64
 1   7       8 non-null      float64
 2   10      8 non-null      float64
 3   14      8 non-null      float64
dtypes: float64(4)
memory usage: 320.0+ bytes
None